@import 'colours';

html, body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.alert {
  position: absolute;
}

.container-fluid {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.navbar {
  margin-bottom: 0 !important;
  border-radius: 0 !important;
}

.jumbotron {
  padding: 0 !important;
  color: map-get($colours, electric-blue) !important;
  & > * {
    position: absolute;
    width: 100%;
  }
  img {
    z-index: -1;
    opacity: 0.7;
    filter: brightness(0.8);
  }
  .content{
    margin-top: 5rem;
    h1, h2 {
      color: map-get($colours, white) !important;
      text-shadow: 0 0 2rem map-get($colours, electric-blue);
    }
    form {
      margin: 10rem 0;
      border: {
        width: 3px;
        style: solid;
        color: map-get($colours, white);
        radius: 10px;
      }
      background-color: rgba(51, 51, 51, 0.4);
      padding: 2rem 2.5rem 5rem 2rem;
      .basic-search {
        text-align: right;
        & > .form-group {
          display: inline-table;
          vertical-align: middle;
          width: 48%;
        }
        & > span {
          width: 3.8%;
        }
      }
      .advanced-search {
        clear: both;
        .form-group {
          & > * {
            display: inline-block;
            max-width: 20%;
          }
        }
        input[type=text], input[type=number], select {
          margin: 0 1rem;
        }
      }
    }
  }
}
