@import 'colours';

.chart-container {
  font-family: 'Open Sans', sans-serif;
  font-size: 11px;
  font-weight: 300;
  fill: #242424;
  text-align: center;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
  cursor: default;
  padding: 5rem 5rem;
  .legend {
    font-family: 'Raleway', sans-serif;
    fill: #333333;
  }

  .tooltip {
    fill: #333333;
  }
  .bar {
    height: 5rem !important;
    opacity: 0.9;
  }
  .bar--positive {
  fill: steelblue;
  }

  .bar--negative {
    fill: darkorange;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }
}

.applications, .dashboard-profile {
  margin: 2rem;
  padding: 0 1rem;
  border: 3px solid map-get($colours, charcoal);
  border-radius: 5px;
  &.applications {
    overflow-y: scroll;
    height: 30rem;
  }
  .application{
    margin: 1rem;
    padding: 0 2rem;
    border: 2px solid map-get($colours, charcoal);
    border-radius: 5px;
    & > div > * {
      padding: 1rem;
    }
    .info {
      border-right: 2px solid map-get($colours, charcoal);
      .title {
        font-weight: 600;
        a {
          text-decoration: none;
          color: map-get($colours, electric-blue);
        }
      }
      .name {
        a {
          text-decoration: none;
          color: map-get($colours, electric-blue);
        }
      }
    }
  }
}
